
backend/.env
backend/.env.docker
backend/*.save
backend/db.sqlite3
backend/media/
backend/staticfiles/
backend/__pycache__/


frontend/node_modules/
frontend/dist/

*.pem
rental-key.pem

*.save


*.log


.DS_Store
Thumbs.db


.idea/
.vscode/